---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout title="Titel">
  <div class="fixed inset-0 -z-10 bg-repeat" style="background-image: url('/baggrundsstreg.png'); background-size: 40px;"></div>
  <div class="flex flex-rows justify-between items-center text-center z-20 font-bold mt-5">
    <Button variant="secondary" size="medium md:large" class="mt-5 md:mt-10 uppercase md:text-4xl"><a href="#Kompetencer">Kompetencer</a></Button>
    <Button variant="secondary" size="medium md:large" class="mt-5 md:mt-10 uppercase"><a href="#socials">Socials</a></Button>
  </div>
  <section class="relative md:my-20 md:mb-50 mb-30 md:mt-30">
    <Heading type="h1">multimediede<span class="text-secondary">signe</span>rmultimediedesignermultimediedesigner</Heading>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-100 w-80 md:w-110 md:h-145 bg-pink-300 z-10"></div>
    <img src="/mig2.png" alt="profil billede" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-70 md:w-100 grayscale z-30" />
  </section>
  <section class="grid grid-cols-1 md:grid-cols-12 relative overflow-hidden md:h-screen">
    <div class="md:px-2 md:col-span-8 md:col-start-7 md:pr-20 items-center col-span-1 relative z-20 text-center md:text-left">
      <Heading type="h2">visuel enktelhed med kant</Heading>
      <Text teksttype="brødtekst" class="md:mt-20 text-lg md:text-xl/7 px-20 md:px-0 md:pr-22">
        Jeg er en multimediedesigner med sans for rene, æstetiske linjer og et skarpt øje for detaljer. Mit arbejde balancerer det enkle og det dristige, hvor klarhed og funktionalitet møder modige visuelle greb. Jeg stræber efter at skabe design,
        der både føles tidløst og har karakter, og som formidler et klart budskab gennem et stærkt visuelt udtryk.
      </Text>
    </div>
    <div class="w-full h-full md:w-full md:absolute md:inset-0 md:z-10 md:ml-0 md:mt-40">
      <img src="/streg1.png" alt="pyntestreg" class="w-340 h-full -ml-40 -mt-25 md:w-full md:h-full" />
    </div>
  </section>
  <section id="Kompetencer" class="-mt-20 md:mt-10 md:grid md:grid-cols-12 md:pl-30 overflow-hidden">
    <Heading type="h3">kompetencer</Heading>
    <div class="flex flex-col gap-5 md:pl-20 items-center md:col-span-4 md:col-start-2 md:text-xl/8 mt-5">
      <Text teksttype="bulletpoint">figma prototyper</Text>
      <Text teksttype="bulletpoint">moodboard og styletile</Text>
      <Text teksttype="bulletpoint">canva</Text>
      <Text teksttype="bulletpoint">designsystemer</Text>
      <Text teksttype="bulletpoint">astro</Text>
      <Text teksttype="bulletpoint">HTML, CSS og javascript</Text>
      <Text teksttype="bulletpoint">git/github</Text>
      <Text teksttype="bulletpoint">foto og video redigering</Text>
      <Text teksttype="bulletpoint">adobe programmer</Text>
    </div>
    <img src="/streg2.png" alt="pynte streg2" class="md:col-start-8 md:col-span-6 md:mt-20 h-100 md:h-300 ml-80 md:ml-20 -mt-45" />
  </section>
  <section id="socials" class="md:grid md:grid-cols-12 relative overflow-hidden">
    <div class="md:col-span-3">
      <img class="w-60 md:w-full md:h-300 -ml-15 md:ml-0" src="/streg3.png" alt="" />
    </div>
    <div class="md:col-span-6 md:col-start-5 md:pl-40 md:mt-20 md:mb-20 relative z-20">
      <Heading type="h3">Socials</Heading>
      <div class="flex gap-10 md:mt-20 ml-50 mt-10">
        <Link href="https://www.facebook.com/profile.php?id=100009548483404&locale=da_DK">
          <img src="/Facebook.png" alt="facebook" class="md:w-20 w-12 transition-transform duration-300 hover:scale-125" />
        </Link>
        <Link href="https://www.instagram.com/signe__munk/">
          <img src="/Instagram.png" alt="instagram" class="md:w-20 w-12 transition-transform duration-300 hover:scale-125" />
        </Link>
        <Link href="https://www.linkedin.com/in/signe-munk-54b69b285/">
          <img src="/Linkedin.png" alt="linkedin" class="md:w-20 w-12 transition-transform duration-300 hover:scale-125" />
        </Link>
      </div>
    </div>
    <div class="md:col-span-4 md:col-start-9 relative">
      <img src="/streg4.png" alt="" class="h-80 w-auto md:-mr-40 ml-70 mt-50" />
    </div>
  </section>
</MainLayout>
