---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Komponentbibliotek">
  <h1 class="text-4xl font-bold mb-10">Komponentbibliotek</h1>
  <p class="mb-5">Her finder du et udvalg af de komponenter, jeg har udviklet til mit design system.</p>
</MainLayout>
