---
const { variant = "primary", size = "medium" } = Astro.props;
const buttonStyling = "px-6 py-4 focus:outline-none focus:ring-2 focus:ring-offset-2 ";
const variantClasses = {
  primary: "bg-primary text-white hover:bg-secondary hover:scale-105 transition-transform",
  secondary: " text-primary hover:bg- hover:text-secondary transition-transform uppercase",
  tertiary: "bg-transparent text-black",
};
const sizeClasses = {
  small: "text-sm",
  medium: "text-base",
  large: "text-4xl",
};
---

<div>
  <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
</div>
